* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
  text-decoration: none;
}

/* ===== Main Bar ===== */
.topBarContent {
    margin: auto;
    user-select: none;
}

.topBarBackground {
  width: 100%;
  background-image: url('./graphics/TopBarBackground.png');
}

.infoBar i {
    color: rgb(177, 0, 0);
    margin-right: 15px;
}

.infoBar, .infoBar > ul {
    font-size: 0.9em;
    display: inline-flex;
    list-style-type: none;
    background-color: rgb(32, 32, 32);
    color: white;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

.logoBar {
    width: 100%;
    height: 100px;
    font-weight: 600;
    color: #4b4b4b;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    align-self: center;
    margin-left: 15px;
}

.logo-mobile {
  display: none;
}

.menuBar {
  display: inline-flex;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: white;
}

.language img {
  margin-right: 3px;
  height: 0.9em;
  width: auto;
}

.location {
  height: 35px;
  display: inline-flex;
  align-items: center;
}

.location  a, .location i {
  text-decoration: none;
  color: grey;
  font-size: 0.9em;
  margin-right: 10px;
}

.menuToggle {
  float: right;
  align-self: center;
 font-size: 2em;
 display: none;
}


/* === Search tool === */
form.searchBar input[type=text] {
  padding: 15px;
  margin-top: 1px;
  font-size: 14px;
  border: #ffffff;
  float: left;
  min-width: 5vw;
  width: 15vw;
  background: #ffffff;
}

/* Style the submit button */
form.searchBar button {
  float: left;
  width: 50px;
  padding: 13px;
  background: #383838;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchBar button:hover {
  background: #2b2b2b;
}

/* Clear floats */
form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}

  /* === Menu Buttons === */
  .dropbtn {
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    color: grey;
    font-size: 15px;
    border: none;
    padding: 20px 15px 20px;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links insi
  ,-+de the dropdown */
  .dropdown-content a {
    font-weight: 600;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #ddd;
  }

  .language .dropdown-content {
    min-width: 90px;
  }

/* =====Main page===== */

/*  Upper Page */
.page {
  margin: auto;
}

.mainProduct {
  display: inline-flex;
  width: 100%;
}

.productPhotoContainer {
  width: 50%;
}

.product-photo {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productOptions{
  width: 50%;
}

.options-info {
  display: flex;
  justify-content: left;
  font-size: 0.9em;
}

.producer, .producer a {
  margin-right: 10px;
  text-decoration: none;
}

.product-status-shipping {
  display: inline-flex;
  align-items: center;
  width: 100%
}

.product-status {
  display: inline-flex;
  align-items: center;
  font-size: 0.8em;
  width: 50%;
  margin: 20px 0 20px 0;
}

.product-status-text {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 5px 0 5px;
}

.product-shipping-info {
  width: 50%;
}

.product-shipping-info a {
  display: flex;
  float: right;
  margin-right: 1vw;
  flex-wrap: wrap;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 600;
  color: rgb(138, 68, 79);
}

.product-status img {
  display: flex;
  float: left;
  align-self: center;
}


.product-price-container {
 display: inline-flex;
 margin-top: 20px;
 justify-content: space-between;
}

.price {
  display: inline-flex;
  flex-direction: column;
}

.old-price {
  font-size: 0.8em;
  color: grey;
  text-decoration: line-through;
}

.new-price {
  font-size: 1.5em;
  font-weight: 600;
}



.quantity {
  display: inline-flex;
  justify-content: center;
  border: 1px solid lightgrey;
  width: 20%;
  box-sizing: border-box;
}

.quantity-btn {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 33%;
}

.quantity-number {
  text-align: center;
  border: none;
  width: 33%;
  background-color: rgba(0, 0, 0, 0);
}

.add-basket-btn {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  padding: 20px;
  background: #b62323 url(./graphics/bg-buttons.png);
}

.product-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333333;
  margin: 0;
  margin-bottom: 0px;
  line-height: 1.1em;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 13px;
}

.negotiate-price {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.negotiate-img {
  width: auto;
  margin-right: 10px;
}

.negotiate-price-text {
  display: flex;
  flex-direction: column;
  width: auto;

}

.text-highlighted {
  font-size: 0.8em;
  font-weight: 600;
  color: #b62323;
}

.negotiate-img {
  float: left;
}

/* Mid page */
.midPage {
  display: inline-flex;
  width: 100%;
}

.midPageLeft {
  width: 60%;
}

.midPageLeft p {
  font-weight: 600;
  font-size: 0.9em;
  color: grey;
  line-height: 1.4em;
}

.midPageRight{
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.banner {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 13px 36px -10px rgba(0,0,0,0.75);
  font-weight: 600;
  font-size: 0.8em;
  padding-bottom: 15px;
}

.banner p {
  line-height: 0;
  margin-left: 15px;
  margin-top: 5px;
}

.banner h3 {
  font-size: 0.95em;
  color: grey;
  margin-bottom: 6px;
  margin-left: 15px;
}

.footer {
  margin-top: 100px;
}

.footer, .footer img {
  width: 100%;
}

  /* Media Queries */
 
  /* Mobile */
  @media only screen and (max-width: 800px) {
    /* Upper bar */
    .infoBar {
      display: none;
    }

    .menu-text {
      display: none;
    }

    .cart a{
      float: right;
      padding: 10px;
      background: lightgrey;
      color: grey;
      border-radius: 5px;
      font-size: 1.5em;
      margin: 5px;
    }

    .account a{
      display: block;
      padding: 10px;
      background: lightgrey;
      color: grey;
      border-radius: 5px;
      font-size: 1.5em;
      margin: 5px;
    }

    .logoBar {
      height: auto;
      width: 100%;
      margin: 0;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
    }

    .logo-full {
      display: none;
    }
    
    .logo-mobile {
      display: flex;
      height: 80px;
      width: auto;
    }

    .searchBar input {
      display: none;
    }

    .searchBar .searchButton {
      display: none;
    }

    .searchBar .showButton {
      display: block;
    }

    .location {
      display: none;
    }

    .menuBar {
      display: none;
    }

    .menuBar .dropdown {
      display: inline-flex;
      justify-content: center;
      background-color: lightgrey;
      width: 100%;
    }

    .menuBar .dropdown-content {
      position: relative;
      width: 100%;
    }


    .menuToggle {
      display: block;
      padding: 10px;
      margin-right: 10px;
      background: lightgrey;
      color: grey;
      border-radius: 5px;
    }


    /*  == Page Content  == */
    .page {
      width: 90vw;
      margin: auto;
    }

    .mainProduct {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .productPhotoContainer {
      width: 70vw;
    }

    .productOptions {
      width: 100%;
    }

    .midPage {
      display: block;
      width: 100%;
    }
    
    .midPageLeft {
      width: 100%;
    }
    
    .midPageRight {
      margin-top: 40px;
      width: 100%;
    }
  }


  /* Screen 800 - 1300 */
@media only screen and (min-width: 801px) and (max-width: 1300px) {

    /* search field */
    form.searchBar .showButton {
      display: none;
    }

    .account i, .cart i{
      display: none;
    }
  
    .logoBar a {
      color: black;
      text-decoration: none;
    }

}


   /* Screen 1300+ */
   @media only screen and (min-width: 1301px) {
    .topBarContent {
      width: 60vw;
      margin: auto;
  }

  .account i, .cart i{
    display: none;
  }

  .logoBar a {
    color: black;
    text-decoration: none;
  }

  .page {
    width: 60vw;
    margin: auto;
  }

  /* search field */
  form.searchBar .showButton {
    display: none;
  }

}