* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ===== Main Bar ===== */
#topBarContent {
    margin: auto;
    user-select: none;
}

#topBarBackground {
  width: 100%;
  background-image: url('./graphics/TopBarBackground.png');
}

#infoBar i {
    color: rgb(177, 0, 0);
    margin-right: 15px;
}

#infoBar, #infoBar > ul {
    display: inline-flex;
    list-style-type: none;
    background-color: rgb(32, 32, 32);
    color: white;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

#logoBar {
    width: 100%;
    height: 100px;
    font-weight: 600;
    color: #4b4b4b;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#logoContainer {
    align-self: center;
    margin-left: 15px;
}

#logo-mobile {
  display: none;
}

#menuBar {
  display: inline-flex;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: white;
}

#language img {
  margin-right: 3px;
  height: 0.9em;
  width: auto;
}

#location {
  display: flex;
  align-items: center;
}

.menuToggle {
  float: right;
  align-self: center;
 font-size: 2em;
 display: none;
}


/* === Search tool === */
form.searchBar input[type=text] {
  padding: 15px;
  margin-top: 1px;
  font-size: 14px;
  border: #ffffff;
  float: left;
  min-width: 5vw;
  width: 15vw;
  background: #ffffff;
}

/* Style the submit button */
form.searchBar button {
  float: left;
  width: 50px;
  padding: 13px;
  background: #383838;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchBar button:hover {
  background: #2b2b2b;
}

/* Clear floats */
form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}

  /* === Menu Buttons === */
  .dropbtn {
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    color: grey;
    font-size: 15px;
    border: none;
    padding: 20px 15px 20px;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    font-weight: 600;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #ddd;
  }

  #language .dropdown-content {
    min-width: 90px;
  }

/* =====Main page===== */

/*  Upper Page */
#page {
  margin: auto;
}

#mainProduct {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
}

#productPhoto {
  width: 55%;
  border: 1px solid black;
}

#productOptions{
  width: 45%;
  border: 1px solid black;
}

#productSuggestions {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

#additionalProducts {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  border: 1px solid black;
}

.product {
  border: 1px solid blue;
  width: 33%;
}

/* Mid page */
#midPage {
  display: inline-flex;
  width: 100%;
  height: 600px;
  border: 1px solid black;
}

#midPageLeft {
  width: 60%;
  border: 1px solid blue;
}

#midPageRight{
  width: 40%;
  border: 1px solid red;
}

/* Lower page */
#lowerPage {
  display: block;
  width: 100%;
  border: 1px solid black;
}

#articlesContainer {
  display: inline-flex;
  width: 100%;
  height: 200px;
}

#articlesContainer .article {
  width: 50%;
  border: 1px solid black;
}

/* ===== Footer  ===== */

#footer {
  border: 1px solid black;
  height: 200px;
}

  /* Media Queries */
 
  /* Mobile */
  @media only screen and (max-width: 800px) {
    /* Upper bar */
    #infoBar {
      display: none;
    }
    #logoBar {
      height: auto;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
    }

    #logo-full {
      display: none;
    }
    #logo-mobile {
      display: flex;
      height: 80px;
      width: auto;
    }

    form.searchBar input {
      display: none;
    }

    form.searchBar #searchButton {
      display: none;
    }

    form.searchBar #showButton {
      display: block;
    }

    #location {
      display: none;
    }

    #menuBar {
      display: none;
    }

    #menuBar .dropdown {
      display: inline-flex;
      justify-content: center;
      background-color: lightgrey;
      width: 100%;
    }

    #menuBar .dropdown-content {
      position: relative;
      width: 100%;
    }


    .menuToggle {
      display: block;
      padding: 5px;
      background: lightgrey;
      color: grey;
      border-radius: 5px;
    }


    /*  == Page Content  == */
    #mainProduct {
      display: block;
    }

    #productPhoto {
      width: 100vw;
    }

    #productOptions {
      width: 100vw;
    }

  }


  /* Screen 800 - 1300 */
@media only screen and (min-width: 801px) and (max-width: 1300px) {

    /* search field */
    form.searchBar #showButton {
      display: none;
    }

}


   /* Screen 1300+ */
   @media only screen and (min-width: 1301px) {
    #topBarContent {
      width: 60vw;
      margin: auto;
  }

  #page {
    width: 60vw;
    margin: auto;
  }

  /* search field */
  form.searchBar #showButton {
    display: none;
  }

}